.chat-window {
    overflow-y: scroll;
    overflow-x: hidden;
    margin: 0 auto;
    height: 500px;
    padding: 10px 0 0 10px;
}

.message {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    font-size: 10pt;
    width: fit-content;
    max-width: 95%;
}

.user {
    text-align: right;
    background-color: #E6F2F8;
    float: right;
    clear: both;
}

.ai {
    text-align: left;
    background-color: #E9E9EA;
    float: left;
    clear: both;
}

.card {
    padding: 10px;
    border-radius: 5px;
    font-size: 10pt;
    width: 100%;
    max-width: 95%;
}

.card-header {
    height: 50px;
    padding: 10px;
    border-radius: 5px;
    text-align: left;
    font-weight: 600;
    font-size: 10pt;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.card-body {
    border-radius: 5px;
    text-align: left;
    font-size: 10pt;
    padding: 0px;
}

textarea {
    width: 97%;
    height: 100px;
    margin: 10px;
    border-radius: 5px;
    font-size: 10pt;
}

button {
    float: right;
    border: 1px solid black;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: 400;
}

.label {
    font-size: 9pt;
    font-weight: 600;
}

.tag {
    font-size: 9pt;
    font-weight: 600;
    background-color: #E9E9EA;
    width: fit-content;
    padding: 2px 8px;
    margin-top: 5px;
    border-radius: 3px;
}

select {
    background-color: #E9E9EA;
    padding: 5px;
    margin: 10px 0px;
    border: none;
}

#persona-description {
    font-style: italic;
    font-size: 10pt;
}
